@charset "UTF-8";

:root{
    --corfundo: #e6e4e4;
    --corfundo2: #bebcbc;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    height: 97vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--corfundo);
}

.box{
    display: grid;
    place-items: center;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--corfundo2);
}

.input{
    display: grid;
}

.input>input{
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

#resultado{
    width: 200px;
    height: 20px;
    padding:5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: #fff;
}

button{
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    width: 100px;
}
