@charset "UTF-8";

:root{
    --corfundo: #e6e4e4;
    --corfundo2: #bebcbc;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97vh;
    width: 100%;
    background-color: var(--corfundo);
}

.operador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corfundo2);
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 15px 0px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}

.box{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--corfundo2);
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-top: 12px;
    border-radius: 15px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}

#output{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#output>p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #929292;
    width: 250px;
    height: 90px;
    border-radius: 15px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}

#simples{
    display: none;
}

#tintas{
    display: none;
}

#massas{
    display: none;
}