@charset "UTF-8";

:root{
    --corfundo: #e6e4e4;
    --corfundo2: #bebcbc;
    --corfundo3: #f3f3f3;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    height: 10vh;
    background-color: var(--corfundo2);
}

main{
    display: flex;
    height: 82.3vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    background-color: var(--corfundo);
}

i{
    margin-top: 25px;
    cursor: pointer;
}

section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--corfundo2);
    padding: 8px;
    height: 5vh;
}
