@charset "UTF-8";

:root{
    --corfundo: #e6e4e4;
    --corfundo2: #bebcbc;
    --corfundo3: #f3f3f3;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 12px;
    background-color: var(--corfundo2);
}

body{
    height: 99vh;
    display:flex;
    flex-direction: column;
    background-color: var(--corfundo);
    font-family: sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.titulo_funcao{
    display: flex;
    padding: 12px;
    width: 400px;
    background-color: var(--corfundo2);
}

.funcao_escondido{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: none;
}

.funcao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
    height: 80px;
    width: 400px;
    padding: 12px;
    background-color: var(--corfundo3);
}

footer{
    padding: 12px;
    background-color: var(--corfundo2);
    text-align: center;
}
