@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --fundo: #ebebeb;
    --fundo-input: #46478a;
    --cor1: #0d0153;
    --cor2: #040018;
    --cor-botoes: #ff7300;
    --fontePrincipal: "Roboto", sans-serif;
    --fonteInputs: "rubik", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tintas{    display: none;  }
#massas{    display: none;  }

html,body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--fundo);
    
}

#menu{
    height: 55px;
    width: 100vw;
    background: var(--cor2) url(../imagens/menu.png) no-repeat center center;
    background-size: contain;
}

#menu:hover{
    background-color: var(--cor1);
}

#nav-bar{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
    background-color: var(--cor2);
}

#nav-bar>button {
    height: 35px;
    width: 58vw;
    margin-bottom: 8px;
    color: var(--cor-botoes);
    background-color: var(--cor2);
    border: 1px solid  var(--cor-botoes);
    border-radius: 10px;
    font-family: var(--fonteInputs);
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
}

#nav-bar>button:hover{
    background-color: var(--cor1);
    box-shadow: 0px 0px 5px 2px var(--cor-botoes);
}

main{
    height: 94vh;
    flex:1
}

main>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 70vw;
    background-color: var(--cor2);
    border-radius: 15px;
}

.box input{
    margin-bottom: 10px;
    padding: 8px;
    width: 45vw;
    border-radius: 10px;
    border: none;
}

.box button{
    height: 25px;
    width: 20vw;
    color: var(--cor-botoes);
    background-color: var(--cor2);
    border: 1px solid var(--cor-botoes);
    border-radius: 10px;
}

.box button:hover{
    background-color: var(--cor1);
    box-shadow: 0px 0px 5px 2px var(--cor-botoes);
}

.box input::placeholder{
    font-family: var(--fonteInputs);
    text-align: center;
}

.box .input-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .input-position > button{
    align-self: end;
}

.output{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 18vh;
    width: 70vw;
    background-color: var(--cor2);
    border-radius: 15px;
}

.output>p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 65vw;
    background-color: var(--fundo);
    border-radius: 12px;
    font-family: var(--fonteInputs);
    font-size: 0.8em;
    letter-spacing: 1px;
}

footer{
    padding: 6px;
    color: var(--fundo);
    background-color: var(--cor2);
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--fontePrincipal);
}

footer a {
    color: var(--fundo);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor-botoes);
    text-decoration: underline;
}

#opcaoSimples{
    background-image: url(../imagens/simples-icone-alt.png);
    background-repeat: no-repeat;
    background-position: 40px center;
}

#opcaoTintas{
    background-image: url(../imagens/tintas-icone-alt.png);
    background-repeat: no-repeat;
    background-position: 40px center;
}

#opcaoMassas{
    background-image: url(../imagens/massas-icone-alt.png);
    background-repeat: no-repeat;
    background-position: 40px center;
}